a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.aside {
  height: 100%;
  min-height: calc(100vh - 56px);
}

.productList,
.productList > a {
  color: tomato !important;
  background-color: white !important;
}

.productList:hover,
.productList:hover > a,
.asideActive,
.asideActive > a {
  color: white !important;
  background-color: tomato !important;
}

/* Add Product Form Style */
.adminLightBG {
  background-color: #FFBAAD;
  height: 100%;
  min-height: calc(100vh - 124px);
}

/* Form Styles */
.formStyle {
  background-color: white;
  border-radius: 20px;
}

/* Manage Product Page Styles */
.round-10 {
  border-radius: 10px;
}